<div class="container">
    <h2>
Well.. an unexpected error occured.  This is embarrasing.
<div>
    Click <a href="/">Here</a> to get off of this error page.
</div>
</h2>
<hr />
Error: <b>{{message}}</b>

</div>